*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box ;
    text-decoration:none ;
    border: none;
    outline: none;
    scroll-behavior: smooth ;
    font-family: -apple-system sans-serif;

    
}

:root {
    --bg-color: #fff;

    --sed-bg-color:#d5fdf9;
    --text-color:#000;
    --main-color: purple;
}
html{
    font-size:62.5%;
    overflow: hidden;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9%rem ;
    
}
 /* header code */
.header{
   position: fixed;
   width: 100%;
   top: 0;
   right: 0;
   z-index: 1000;
   display: flex;
   align-items: center;
   justify-content:space-between;
   padding: 2rem 5%;
   background: var(--main-color);
   backdrop-filter: blur(10px);
   transition: all 0.5s ease;

}

.logo{
    font-size:3rem ;
    color: var(--bg-color);
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease;


}
.logo:hover{
    transform: scale(1.05);

}

.navbar a{
    font-size: 1.9rem;
    color: var(--bg-color);
    margin-left: 3rem;
    font-weight: 700;
    transition: 0.3s;
}

.navbar a:hover,
.navbar a.active{
    color: var(--text-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--bg-color);
    cursor: pointer;
    display: none;
}

img{
    width: 200px;
    height: 100px;
}

